body {
    background: linear-gradient(to right, #1d976c, #93f9b9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-control {
    border-radius: 50px;
    background-color: #f0f0f0;
    border: none;
    padding: 15px;
    margin-bottom: 15px;
  }
  
  .btn-success {
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
  }
  
  .text-center a {
    color: #007bff;
  }
  
  .img-thumbnail {
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
    border: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 15px;
    padding: 0 !important;
  }
  