<section class="min-vh-100 d-flex justify-content-center" id="rooms" style="background-color: #f2f6f8">
    <div class="container pt-5">
        <div class="text-center mb-5">
            <h2 class="fs-1">Encuentra tu habitación deseada</h2>
        </div>
        <form [formGroup]="formdata" (ngSubmit)="onsubmit()" class="row g-3 justify-content-center">
            <!-- Fecha de Ingreso y Salida -->
            <div class="col-md-6">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Fecha de Ingreso</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="dateStart" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Fecha de Salida</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="dateEnd" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>

            <!-- Tipo de Habitación y Cantidad -->
            <div class="col-md-6">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Tipo de Habitación</mat-label>
                    <mat-select formControlName="typeRoom">
                        <mat-option value="">Todas</mat-option>
                        <mat-option *ngFor="let item of typesRooms" [value]="item.id">{{
                            item.tipoHabitacion.toUpperCase() }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-outline-secondary w-100" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Cantidad de Habitaciones
                </button>
            </div>

            <!-- Rango de Precios -->
            <div class="col-12">
                <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"
                    class="w-100"></ngx-slider>
                <div class="d-flex justify-content-between">
                    <span>Precio mínimo: {{ minValue | currency:'USD':'symbol' }}</span>
                    <span>Precio máximo: {{ maxValue | currency:'USD':'symbol' }}</span>
                </div>
            </div>

            <!-- Botón de Buscar -->
            <div class="col-12">
                <button class="btn btn-primary w-100">Buscar <fa-icon [icon]="faPaperPlane"
                        size="sm"></fa-icon></button>
            </div>
        </form>

        <!-- Resultados de las Habitaciones -->
        <div class="row mt-4">
            <div class="col-12 d-flex flex-wrap justify-content-center gap-2">
                <app-room-card *ngFor="let room of rooms" [room]="room"
                    (selectRoom)="selectRoom($event)"></app-room-card>
            </div>
        </div>
    </div>
</section>