<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center w-100 px-5">
        <!-- Sección de Formulario y Título -->
        <div class="form-container">
            <div class="text-center mb-4">
                <h3 class="text-white display-3">Formulario de tipo de habitación</h3>
            </div>
            <form class="text-white" #userForm="ngForm" (ngSubmit)="onsubmit()" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="tipoHabitacion">tipo de habitacion</label>
                            <input id="tipoHabitacion" type="text" #tipoHabitacion="ngModel" class="form-control"
                                name="tipoHabitacion" required [(ngModel)]="tipoDeHabitacion.tipoHabitacion" />

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="capacidad">Capacidad</label>
                            <input id="capacidad" type="text" #capacidad="ngModel" class="form-control" name="capacidad"
                                required [(ngModel)]="tipoDeHabitacion.capacidad" />

                        </div>
                    </div>
                </div>

                <div class="text-center mt-3">
                    <button *ngIf="tipoDeHabitacion.id != null" type="submit" class="btn btn-success mt-2"
                        [disabled]="userForm.invalid">
                        Actualizar
                    </button>
                    <button *ngIf="tipoDeHabitacion.id == null" type="submit" class="btn btn-success mt-2"
                        [disabled]="userForm.invalid">
                        Agregar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>