<!-- <div class="container-fluid">
    <div class="row mt-3 justify-content-md-start shadow-sm p-3">
        <div class="col-2">
            <button class="btn ms-2" (click)="open()">
                <fa-icon [icon]="faBars" size="2xl"></fa-icon>
            </button>
        </div>
        <div class="col-8">
            <div class="h2 text-center">Titulo dinamico</div>
        </div>
    </div> -->


<div class="sidebar">
    <div class="header text-center text-white w-100 pt-3 ">
        <span class="display-5 d-block font-monospace">Moon light</span>
        <figcaption class="blockquote-footer mt-3 text-white">
            Menu Adminsitracion
        </figcaption>
    </div>
    <div class="content">
        <ul class="">
            <li class="w-10 "><a class="fs-4" [routerLink]="['cliente']"> <fa-icon [icon]="faUser"></fa-icon> Modulo
                    Cliente</a></li>
            <li class="w-10 "><a class="fs-4" [routerLink]="['habitacion']"><fa-icon [icon]="faBed"></fa-icon> Modulo
                    Habitacion</a></li>
            <li class="w-10 "><a class="fs-4" [routerLink]="['habitacion']"><fa-icon [icon]="faBed"></fa-icon> Modulo
                    Servicios</a></li>
            <li class="w-10 "><a class="fs-4" [routerLink]="['reservacion']"><fa-icon
                        [icon]="faBellConcierge"></fa-icon> Modulo Reservacion</a></li>
            <li class="w-100"><a class="fs-4" [routerLink]="['']"><fa-icon [icon]="faCopy"></fa-icon> Modulo
                    Facturas</a></li>
        </ul>
    </div>
    <div class="footer d-flex w-100 p-3 justify-content-center ">
        <button (click)="logout()" class="btn btn-danger btn-lg">Cerrar sesion <fa-icon [icon]="faRightFromBracket"></fa-icon></button>
    </div>
</div>