
<div class="h-100 container">
    <div class="d-flex h-100 justify-content-center align-items-center">
        <div class="row justify-content-center">
            <div class="row border rounded-5 p-3 bg-white shadow box-area mt-3">
        
                <!-- logo del landing -->
                <div class="layout col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box">
        
        
                    <small class="text-white text-wrap text-center"
                        style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Unete a Nosotros y disfruta de
                        magicas noches en nuestro hotel</small>
                </div>
        
                <!-- formulario login -->
                <div class="col-md-6 right-box">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>