.content-banner {
    background: linear-gradient(to top, rgba(30, 35, 38, .1), rgba(30, 35, 38, .6)),
        url(../../../assets/images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}