<section id="services">
    <div class=" min-vh-100 d-flex align-items-center">
        <div class="row w-100">
            <div class="col-lg-6 bg-light text-dark d-flex align-items-center min-vh-100">
                <div class="text-content">
                    <p>
                        En <span><a style="color: #088baf; cursor: pointer; text-decoration: none;" href="#home">Moon
                                Light Hotel</a></span> encontrarás una variedad de servicios y comodidades diseñados
                        para hacer que tu
                        estadía sea memorable. Desde relajarte en nuestras piscinas de agua salada hasta rejuvenecerte
                        en nuestro lujoso
                        spa, hay algo para todos en nuestro paraíso playero.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 p-3">
                <div class="container">
                    <div class="card">
                        <img src="../../../../assets/images/bg_1.jpg" alt="Caminatas por la playa">
                        <span class="description">Caminatas por la playa</span>
                    </div>
                    <div class="card">
                        <img src="../../../../assets/images/bg_2.jpg" alt="Caminatas por la playa">
                        <span class="description">Relajantes sesiones de span</span>
                    </div>
                    <div class="card">
                        <img src="../../../../assets/images/bg_3.jpg" alt="Caminatas por la playa">
                        <span class="description">Cristalinas piscinas</span>
                    </div>
                    <div class="card">
                        <img src="../../../../assets/images/bg_4.webp" alt="Caminatas por la playa">
                        <span class="description">Hermosos restaurantes</span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>