<div class="card m-1 shadow" style="border: none; max-width: 350px;">
    <div class="content-img">
        <img src="https://res.cloudinary.com/dkaghsmad/image/upload/v1715829237/habitaciones/glytnx8slzgaljdcgbme.jpg"
            class="img-fluid rounded-top" alt="" />
        <span class="info-status">
            Disponible
        </span>
    </div>
    <div class="card-body">
        <div class="content">
            <span class="fw-medium d-block fs-5" style="color: #088baf;">Nombre de la habitacion</span>
            <div class="d-flex align-items-center gap-5 p-2">
                <div>
                    <span class="mt-2 d-block">Capacidad</span>
                   <div class="d-flex align-items-center">
                    <fa-icon [icon]="faperson"   size="lg"></fa-icon>
                    <span class="text-secondary ms-2">N Personas</span>
                   </div>
                </div>
                <div>
                    <span class="mt-2 d-block">Tipo Cama</span>
                    <div class="d-flex align-items-center">
                        <fa-icon [icon]="fabed" size="lg"></fa-icon>
                        <span class="text-secondary ms-2">Cama doble</span>
                    </div>
                </div>
            </div>
            <span class="mt-2 d-block">TipoHabticacion</span>
            <!-- <p class="text-secondary p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Officia omnis maxime est facilis hic recusandae, consectetur tempora obcaecati
                                    neque, laudantium optio sed doloribus tenetur maiores totam tempore magnam
                                    reiciendis veniam?</p> -->

            <div class="d-flex justify-content-between align-items-center mt-5">
                <span class="fs-4">$ 200</span>

                <button class="btn-sb p-2 py-2" style="height: inherit;">Reservar</button>
            </div>

        </div>
    </div>
</div>