<footer id="footer" class="footer mt-auto py-3 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contacta con Nosotros</h5>
                <ul class="list-unstyled">
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>Facebook</li>
                    <li>LinkedIn</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Ubicaciones</h5>
                <p>Amsterdam<br>Van Diemenstraat 38<br>1013NH Amsterdam, Países Bajos</p>
                <p>Oslo<br>Trondheimsveien 135<br>0570 Oslo, Noruega</p>
            </div>
            <div class="col-md-4">
                <p>moonlight&#64;gmail.com</p>
                <p>kevinDurand&#64;2024<br>todos los derechos reservados</p>
            </div>
        </div>
    </div>
</footer>