<section id="about">
    <div class="overlay">
        <div class="header-text">
            <span class="text-white fw-semibolder">Moon Light Hotel</span>
            <p class="text-white fs-3 mt-3">Sumérgete en la serenidad y la belleza natural en Moon Light Hotel, ubicado en la costa de un paraíso
                tropical. Nuestro hotel te ofrece una experiencia única que combina el lujo con la naturaleza, brindándote
                un escape perfecto del ajetreo y el bullicio de la vida cotidiana.</p>
        </div>
        <div class="image-gallery container">
            <div class="row">
                <div class="col-md-4">
                    <img src="../../../../assets/images/image_1.png" alt="Image 1">
                </div>
                <div class="col-md-4">
                    <img src="../../../../assets/images/image_2.png" alt="Image 2">
                </div>
                <div class="col-md-4">
                    <img src="../../../../assets/images/image_3.png" alt="Image 3">
                </div>
            </div>
        </div>
        </div>  
</section>