@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
:root{
    --color-main: #088baf;
    --color-success:#1aa15e;
}
html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.box-area {
    width: 930px;
}
.right-box {
    padding: 40px 30px 40px 40px;
}
.btn-sb {
    background:var(--color-main);
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.btn-sb:hover {
    background: #fff;
    color:var(--color-main);
}

.btn-sb:before,
.btn-sb:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background:var(--color-main);
    transition: 400ms ease all;
}

.btn-sb:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-sb:hover:before,
.btn-sb:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

@media only screen and (max-width: 768px) {
    .box-area {
        margin: 0 10px;
    }

    .left-box {
        height: 100px;
        overflow: hidden;
    }

    .right-box {
        padding: 20px;
    }
    .header{
        text-align: center !important;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

