<!-- Reservación Confirmación Componente HTML -->
<div class="p-5 mt-4">
    <h2 class="text-center mb-4">Detalles de Tu Reservación</h2>
        <div class="">
            <div class="row">
                <div class="col col-8">
                <div class="container mt-4" *ngIf="roomSelections">
                
                            <div class="reservation-container" *ngFor="let room of roomSelections; let i = index">
                                <h2>{{ room.roomDetails.nombre }}</h2>
                                <div class="reservation-card">
                                    <div class="reservation-header">
                                        <span>{{ room.roomDetails.descripcion }}</span>
                                    </div>
                                    <p class="rate-type">Best Available Rate</p>
                                    
                                    <p class="details">{{ room.roomDetails.tipo_habitacion.tipoHabitacion }} | ${{ room.roomDetails.precioNoche }}</p>
                                    <div class="d-flex align-items-center gap-5 p-2 text-nowrap">
                                        <div>
                                            <span class="mt-2 d-block">Capacidad</span>
                                            <div class="d-flex align-items-center">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                <span class="text-secondary ms-2">{{ room.roomDetails.tipo_habitacion.capacidad }} Personas</span>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="mt-2 d-block">Tipo Cama</span>
                                            <div class="d-flex align-items-center">
                                                <i class="fa fa-bed" aria-hidden="true"></i>
                                                <span class="text-secondary ms-2">{{ room.roomDetails.tipo_cama.tipo }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="services d-flex flex-wrap mt-2">
                                        <span class="text-secondary ms-2">Servicios</span>
                                        <ng-container *ngFor="let servicio of room.roomDetails.servicios">
                                            <div class="service-icon mx-2">
                                                <i class="fa fa-concierge-bell" aria-hidden="true"></i>
                                                <span>{{ servicio.nombre }}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            
                        <!-- Información personal y subtotal -->
                    
                        </div>
                    </div>
                </div>

                <div class="col col-4">
                    <!-- reservacion.component.html -->
                    <div class="card shadow w-100 p-4">
                        <div class="content p-3">
                            <div>
                                <div class="content-img">
                                    <span class="h2">Informacion Personal</span>
                                    <img src="https://res.cloudinary.com/dkaghsmad/image/upload/v1719043916/usuarios/stwuglztszdbtlbp8k2s.png" alt="" 
                                    class="img-fluid"  width="150" height="100">
                                </div>
                                <div class="content-info p-3">
                                    <div class="group mt-3">
                                        <span>{{identity.nombre}} {{identity.apellidos}}</span>
                                    </div>
                                    <div class="group mt-3">
                                        <span>Cedula indentidad: {{identity.cedula}}</span>
                                    </div>
                                    <div class="group mt-3">
                                        <span>correo: {{identity.correo}}</span>
                                    </div>

                                    <div>
                                        <span>
                                         Fecha Ingreso:{{dataGroupDate.dateStart}}
                                        </span>
                                    </div>
                                    <div>
                                        <span>
                                         Fecha Salida:{{dataGroupDate.dateEnd}}
                                        </span>
                                    </div>
                                    <div class="actions">
                                        <button (click)="finalizeReservation()" class="btn add-room w-50">Confirmar</button>
                                       
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>

<!-- 
<div class="price-details summary">
    <div class="subtotal">
        <span>Reservation Subtotal</span>
        <span>$</span>
    </div>
    <div class="total">
        <span>Total Reservation</span>
        <span>$</span>
         Example calculation for total 
    </div>
    <div class="taxes">
        <span>Included in the Rate</span>
        <span>Taxes $29.68</span>
    </div> 
-->